@model IEnumerable<CharacterRelationships>
    @{
        ViewBag.Title = "Character Relationships";
        <h1>@ViewBag.Title</h1>
        <ul>
            @foreach (var characterRelationship in Model)
            {
                <li>
                    @characterRelationship.ParentCharacter.Name is @characterRelationship.Relationship.Description with @characterRelationship.ChildCharacter.Name
                </li>
            }
        </ul>
    }